body {
  font-family: Verdana, sans-serif;
  color: #000000;
  background-color: #28DA75;
}

p {}

header {}

section {
  display: flex;
  flex-direction: row;
}

article {
  background-color: #D9E946;
  padding: 10px;
  margin: 10px;
}

footer {
  background-color: #D9E946;
  padding: 10px;
}

a {
  color: #D4700C;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}